@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Lora:wght@400;500;600;700&family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  /* Fontes */

  --font-logo: "Cormorant Garamond", serif;
  --font-title: "Cormorant Garamond", serif;
  --font-body: "Lora", serif;
  --font-ui: "Manrope", sans-serif;

  /* Paleta */

  --color-primary: #5a4528;
  --color-secondary: #8f966a;
  --color-accent: #e6cb73;
  --color-rose: #d3a1aa;

  --color-background: #f9f6ef;
  --color-surface: #fffdfa;

  --color-border: #e7dfd2;

  --color-text: #473727;
  --color-text-light: #817260;

  --color-success: #7d9b64;
  --color-warning: #d6a13a;
  --color-error: #ba6767;
}

body {
  font-family: var(--font-body);
  background: var(--color-background);
  color: var(--color-text);
}

::selection {
  background: var(--color-accent);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d3cabd;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}