@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Lora:wght@400;500;600;700&family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --font-logo: "Cormorant Garamond", serif;
  --font-title: "Cormorant Garamond", serif;
  --font-body: "Lora", serif;
  --font-ui: "Manrope", sans-serif;

  --color-primary: #5a4528;
  --color-secondary: #8f966a;
  --color-accent: #efcf63;
  --color-rose: #c98f97;

  --color-background: #fcfbf7;
  --color-surface: #ffffff;
  --color-border: #e8e2d7;

  --color-text: #3f3424;
  --color-text-light: #726553;

  --color-success: #7b9a61;
  --color-warning: #d6a13a;
  --color-error: #b55b5b;
}
